<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>webfont</title>
    <style>

      @font-face {
        font-family: "webfont";
        src: url("./webfont.eot");
        src: url("./webfont.eot?#iefix") format("embedded-opentype"), url("./webfont.woff2") format("woff2"), url("./webfont.woff") format("woff"), url("./webfont.ttf") format("truetype"), url("./webfont.svg#webfont") format("svg");
      }

      .webfont {
        font-family: "webfont";
        font-style: normal;
      }

      .webfont::before {
        content: "\ea01";
      }


    </style>
  </head>
  <body>
    <i class="webfont"></i>
    <span>webfont-avatar</span>

  </body>
</html>
